footer {
    background-color: var(--highlight-white);
    width: 100%;
    padding: 1em;
}
footer div{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}
footer a {
    color: var(--secondary-salmon);
}
.logo2 {
    position: relative;
    width: 100%;
    max-width: 120px;
    margin: 1rem 0 2.5rem 0;
}
.footer-nav {
    margin: 1rem 0 2.5rem 0;
    text-align: center;
}
.contact {
    font-size:.85rem;
    margin: 1rem 0 2.5rem 0;
    text-align: center;
}
.social div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 1rem 0 2.5rem 0;
}

/* DESKTOP */
@media screen and (min-width:768px) {
    footer div{
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-items: start;
        background-color: var(--highlight-white);
        width: 100%;
        padding: 1em;
    }
    .footer-nav {
        margin: 1rem 0 2.5rem 0;
        text-align: left;
    }
    .contact {
        font-size:.85rem;
        margin: 1rem 0 2.5rem 0;
        text-align: left;
    }
    .social {
        margin: 1rem 0 2.5rem 0;
    }
    .social div ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .copyright {
        position: relative;
        width: 100%;
        text-align: center;
    }
}